<main>
  <div class="container-row p-1">
    <img class="b-3" src=<%= @user.photo %> alt="user photo">
    <div class="container-col p-1 b-3 full-width">
      <h1><%= @user.name %></h1>
      <p class="align-self-end">
        Number of posts:
        <%= @user.posts_counter.nil? ? 0 : @user.posts_counter %>
      </p>
    </div>
  </div>
</main>
<section class="container-col p-1 b-3 mb-1">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</section>
<section>
  <div class="container-col p-1 align-items-c">
    <%= "No posts yet" if @user.posts.length == 0 %>
  </div>
  <% @user.posts.each do |post| %>
    <div class="container-col p-1 b-3 mb-1">
      <h2><%= post.title %></h2>
      <p><%= post.text %></p>
      <p class="align-self-end">
        Comments:
        <%= post.comments_counter.nil? ? 0 : post.comments_counter %>,
        Likes:
        <%= post.likes_counter.nil? ? 0 : post.likes_counter %>
      </p>
    </div>
  <% end %>
</section>
<section div class="container-row p-1 just-cont-c">
  <%= button_to "See all posts", user_posts_path(@user), method: "get" %>
  <%= button_to "Back to Users", users_path, method: "get" %>
</section>