<main>
  <div>
    <img src=<%= @posts.first.author.photo %> alt="user photo">
    <h1><%= @posts.first.author.name %></h1>
    <p>
      Number of posts:
      <%= @posts.first.author.posts_counter.nil? ? 0 : @posts.first.author.posts_counter %>
    </p>
  </div>
</main>
<section>
  <div>
    <% @posts.each do |post| %>
      <div>
        <%= link_to user_post_path(post.author_id, post.id) do %>
          <h2><%= post.title %></h2>
          <p><%= post.text %></p>
          <p>
            Comments:
            <%= post.comments_counter.nil? ? 0 : post.comments_counter %>,
            Likes:
            <%= post.likes_counter.nil? ? 0 : post.likes_counter %>
          </p>
        <% end %>
      </div>
      <div>
        <% post.last_five_comments.each do |comment| %> 
          <p>
            <%= comment.author.name %>:
            <%= comment.text %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<button>Pagination</button>