<main>
  <div class="container-col b-3">
    <h1>
      <%= @post.title %>
      by
      <%= @post.author.name %>
    </h1>
    <p class="ratings-box">
      Comments:
      <%= @post.comments_counter.nil? ? 0 : @post.comments_counter %>,
      Likes:
      <%= @post.likes_counter.nil? ? 0 : @post.likes_counter %>
    </p>
    <p><%= @post.text %></p>
  </div>
  <div class="container-col b-3">
    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.author.name %>:
        <%= comment.text %>
      </p>
    <% end %>
  </div>
</main>