<main>
  <div class="container-col p-1 b-3">
    <div class="container-row just-cont-sb align-items-e">
      <h1>
        <%= @post.title %>
        by
        <%= @post.author.name %>
      </h1>
      <p>
        Comments:
        <%= @post.comments_counter %>,
        Likes:
        <%= @post.likes_counter %>
      </p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="container-col p-1 b-3">
    <%= "No comments yet" if @post.comments.length == 0 %>
    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.author.name %>:
        <%= comment.text %>
      </p>
      <%= button_to "Delete", user_post_comment_path(comment.author, comment.post, comment), method: :delete %>
    <% end %>
  </div>
  <div div class="container-col p-1 align-items-c">
    <div class="container-row p-1 just-cont-c">
      <%= button_to "Comment", new_user_post_comment_path(@user, @post), method: "get" %>
      <%= button_to "Like", user_post_likes_path(post_id: @post.id), method: "post" %>
      <%= button_to "Delete Post", user_post_path(@user, @post), method: :delete %>
      </div>
    <%= button_to "Back to Posts", user_posts_path(@user), method: "get" %>
  </div>
</main>